.navbar{
    height:72px;
    background:white;
    border-bottom:1px solid var(--border);
    position:sticky;
    top:0;
    z-index:100;
}

.nav-content{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:22px;
    font-weight:700;
    color:var(--primary);
}

.logo-circle{
    width:34px;
    height:34px;
    border-radius:50%;
    background:var(--primary);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:28px;
}

.nav-links a{
    color:var(--muted);
    font-weight:500;
    transition:.2s;
}

.nav-links a:hover{
    color:var(--primary);
}